body {
   font-family: 'Inter', sans-serif;
   background-color: var(--bgc-dark);
   transition: all 0.4s ease;
}

h1,
h2,
h3,
h4
 {
   color: var(--color-light);
 }

:root {
   --bgc-lite: #f2f2f2;
   --color-light: #111;
}

.dark-content {
   --bgc-dark: #161c2d;
   --color-light: #fff;
}

.dark-light-mode::before {
   position: relative;
   top: 35px;
   left: 6px;
   width: 18px;
   height: 18px;
   display: inline-block;
   content: "";
   background-repeat: no-repeat;
   background-image: url("../img/cevron.svg");
}

.dl-fix {
   position: fixed;
   top: 22%;
   right: 0;
   z-index: 100;
}

.dark-light-mode {
   position: relative;
   display: inline-block;
}

.dl-inside {
   border-radius: 10px 0 0 10px;
   background-color: #495FEF;
}

.dl-span {
   text-align: center;
   line-height: 50px;
   padding: 10px 30px 10px 50px;
   color: #fff;
}

.dl-up-btn {
   width: 170px;
   height: 56px;
   position: absolute;
   right: 0;
   padding: 20px 50px;
   border-radius: 0 0 0 25px;
   background-color: #495FEF;
}

.btn-div {
   display: inline-block;
}

.btn {
   box-shadow: rgb(3 3 3 / 12%) 0px 32px 54px;
   transition: all 0.8s ease;
}

.btn-div:hover .btn {
   transform: translateY(-10px);
}

.dl-btn {
   font-size: 13px;
   cursor: pointer;
   width: 130px;
   padding: 10px;
   position: absolute;
   top: 10%;
   left: 12%;
   border: none;
   border-radius: 50px;
   background-color: #ffffff;
}

#header {
   position: fixed;
   width: 100%;
   top: 0;
   background-color: #fff;
   box-shadow: rgb(65 62 101 / 10%) 0px 12px 34px -11px;
   z-index: 99;
}

.header-div {
   padding: 30px 15px;
   width: 100%;
   background-color: var(--bgc-dark);
}

.logo-link {
   font-weight: 700;
   font-size: 25px;
   color: var(--color-light);
}

.header-li {
   font-weight: 700;
   font-size: 16px;
   padding: 0 25px;
}

.header-li a {
   color: var(--color-light);
}

.str::after {
   position: relative;
   top: -1px;
   left: 10%;
   width: 18px;
   height: 13px;
   display: inline-block;
   content: "";
   color: var(--color-light);
   background-position: -3px -3px;
   background-repeat: no-repeat;
   background-image: url("../img/strelka.svg");
}

.main-div {
   position: relative;
   padding: 250px 0;
   padding-bottom: 250px;
}

.main-title-h2 {
   font-size: 14px;
   margin-bottom: 40px;
}

.main-title-h3 {
   width: 685px;
   font-size: 80px;
   margin-bottom: 50px;
}

.main-btn {
   display: inline-block;
   padding-left: 35px;
   padding-right: 55px;
   font-weight: 700;
   font-size: 15px;
   line-height: 65px;
   border-radius: 50px;
   color: #fff;
   background-color: #495FEF;
}

.main-btn::after {
   position: relative;
   top: 5px;
   right: -20px;
   width: 22px;
   height: 22px;
   display: inline-block;
   content: "";
   background-repeat: no-repeat;
   background-image: url("../img/arrow.svg");
}

.main-img img {
   width: 445px;
   height: 475px;
   position: absolute;
   top: 20%;
   right: -5%;
}

.works-div {
   padding-top: 100px;
   padding-bottom: 50px;
}

.works-btn {
   cursor: pointer;
   font-weight: 700;
   font-size: 15px;
   margin-right: 55px;
   border: none;
   color: var(--color-light);
   background-color: transparent;
   opacity: 0.7;
}

.relative {
   position: relative;
}

.last-div {
   padding: 100px 0;
   text-align: center;
}

.last-h2 {
   font-size: 14px;
   margin-bottom: 50px;
}

.last-h2::before {
   margin: 0 10px;
   width: 13px;
   height: 13px;
   display: inline-block;
   content: "";
   border-radius: 50%;
   background-color: #56B381;
}

.last-h3 {
   font-size: 60px;
   margin-bottom: 50px;
}

.last-link {
   display: inline-block;
   padding-right: 35px;
   padding-left: 50px;
   font-weight: 700;
   font-size: 15px;
   line-height: 70px;
   border-radius: 50px;
   color: #fff;
   background-color: #56B381;
}

.last-link::before {
   position: relative;
   top: 5px;
   left: -20px;
   width: 22px;
   height: 22px;
   display: inline-block;
   content: "";
   background-repeat: no-repeat;
   background-image: url("../img/massage.svg");
}

.footer-div {
   text-align: center;
   font-weight: 600;
   font-size: 15px;
   padding: 100px 0;
   color: var(--color-light);
}


/* <---------------- IMG ------------!> */


.img {
   width: 100%;
   padding: 7px;
}

.img-350-215 {
   min-height: 215px;
}

.img-350-450 {
   min-height: 450px;
}

.img-350-290 {
   min-height: 290px;
}

.relative:hover .img-title {
   transform: translate(0%,-10%);
   opacity: 0.9;
}

.relative {
   position: relative;
}

.img-title {
   position: absolute;
   top: 45%;
   left: 8%;
   transform: translate(0%,50%);
   width: 290px;
   height: 90px;
   padding: 20px;
   border-radius: 15px;
   background-color: var(--bgc-lite);
   transition: all 0.4s ease;
   opacity: 0;
}

.img-span {
   display: inline-block;
   font-weight: 700;
   margin-bottom: 10px;
   opacity: 0.7;
}

.img-b {
   font-size: 20px;
}